.skills-icon-link, .skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-primary {
  font-size: 16px;
  line-height: 1.9;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.015em;
  background-color: #FFFFFF;
}

a {
  display: block;
}

section {
  padding: 94px 0;
}

.list,
.input-foot-container {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header .nav-logo-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 768px) {
  .page-header .nav-logo-title {
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .page-header .nav-logo-title {
    margin-right: 94px;
  }
}

.page-header .nav-bar,
.page-header .container {
  display: flex;
  align-items: center;
}

.page-header .navigation-links {
  display: none;
}

@media (min-width: 768px) {
  .page-header .navigation-links {
    display: flex;
  }
}

.page-header .navigation-contacts {
  display: none;
}

@media (min-width: 768px) {
  .page-header .navigation-contacts {
    display: block;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .page-header .navigation-contacts {
    display: flex;
    align-items: center;
  }
}

.page-header .current,
.page-header .nav-logo-title > span,
.page-header .logo-title-footer {
  color: #2196F3;
}

.page-header .nav-email {
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .page-header .nav-email {
    margin: 0 30px 0 0;
  }
}

.page-header .icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.page-header .icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.page-header .nav-link {
  color: #212121;
}

.page-header .current,
.page-header .nav-link {
  padding: 32px 0;
  list-style: none;
  text-decoration: none;
  transition-property: color;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header .navigation-links,
.page-header .nav-link,
.page-header .navigation-contacts,
.page-header .contacts {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.page-header .contacts {
  display: flex;
  align-items: center;
  fill: currentColor;
  color: #757575;
  transition-property: color;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header .site-nav {
  position: relative;
  margin-right: 50px;
}

.page-header .site-nav:last-child {
  margin: 0px;
}

.page-header .current::before {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.page-header .nav-link::before {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  transition-property: fill, background-color;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}

.page-header .nav-link:hover::before,
.page-header .nav-link:focus::before {
  transform: scale(1);
}

.page-header .nav-link:focus,
.page-header .nav-link:hover,
.page-header .contacts:focus,
.page-header .contacts:hover,
.page-header .contacts-email:focus,
.page-header .contacts-email:hover,
.page-header .contacts-tel:focus,
.page-header .contacts-tel:hover {
  color: #2196F3;
  cursor: pointer;
}

.page-header .burger-menu {
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.page-header .burger-menu .icon-cross {
  display: none;
}

@media (min-width: 768px) {
  .page-header .burger-menu {
    display: none;
  }
}

.hero-container {
  width: 360px;
}

@media (min-width: 1200px) {
  .hero-container {
    width: 696px;
  }
}

.hero {
  max-width: 1600px;
  max-height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  text-align: center;
  background-color: #C4C4C4;
}

@media (min-width: 1200px) {
  .hero {
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  margin-top: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button-primary {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background: #2196F3;
}

.section-title {
  margin-bottom: 50px;
  margin-top: 0;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media (min-width: 768px) {
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    width: 354px;
  }
}

.skills {
  margin-bottom: 30px;
}

.skills:last-child {
  margin: 0;
}

.skills-icon-link {
  margin: 0 0 30px 0;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.skill-icon {
  width: 70px;
  height: 70px;
}

.skill-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.skills-description {
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  color: #757575;
}

.images-container {
  display: none;
}

@media (min-width: 1200px) {
  .images-container {
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */