:root {
    --main-background-color: #FFFFFF;
    --sec-background-color: #F5F4FA;
    --third-background-color: #C4C4C4;
    --dark-background-color: #2F303A;

    --accent-color: #2196F3;

    --text-color: #212121;
    --sec-text-color: #757575;
    --light-text-color: #FFFFFF;
}


body {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.015em;
    font-family: Roboto, sans-serif;
    background-color: var(--main-background-color);
}

section {
    padding: 94px 0;
}

.container, 
.our-team,
.main-portfolio,
.footer-container,
.clients-container,
.skills-img-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



/*header-container*/
header {
    border-bottom: 1px solid #ECECEC;
    background-color: var(--main-background-color);
}

.list,
.input-foot-container {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


/*navigation-container*/
.nav-bar {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-logo-title,
.logo-title {
    margin-right: 93px;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.current,
.nav-logo-title > span,
.logo-title {
    color: var(--accent-color);
}

a {
    display: block;
}

.icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.icon-smartphone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
}
.current,
.nav-link {      
    padding: 32px 0;
    list-style: none;
    text-decoration: none;

    transition-property: color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-links,
.nav-link,
.navigation-contacts,
.contacts {
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--sec-text-color);
}

.contacts {
    display: flex;
    align-items: center;
    padding: 32px 0 32px 0;

    fill: currentColor;

    transition-property: color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-logo-title,
.navigation-links,
.nav-link {
    color: var(--text-color);
}

.site-nav {
    position: relative;
    margin-right: 50px;
}
.site-nav:last-child {
    margin: 0px;
}
.nav-tel {
    margin-left: 50px;
}

.current::before {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
   
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.nav-link::before {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
   
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
      
    transition-property: background-color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0);
}


.nav-link:hover::before,
.nav-link:focus::before {
    transform: scale(1);
}


.nav-link:focus,
.nav-link:hover,
.contacts:focus,
.contacts:hover,
.contacts-email:focus,
.contacts-email:hover,
.contacts-tel:focus,
.contacts-tel:hover {
    color: var(--accent-color);

    cursor: pointer;
    outline: transparent;
}



/* hero container */

.overlay {
    width: 696px;
    margin: 0 auto;
}

.hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;

    margin: 0 auto;

    background-image: url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
    text-align: center;

    background-color: var(--third-background-color);
    
}

.hero-title {
    margin-top: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;

    color: var(--light-text-color);
}

.button-primary {
    display: inline-block;
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700; 
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;

    text-align: center;

    color: var(--light-text-color);
    background: var(--accent-color);
}

.section-title {
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Skills section */
.skill-icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
    width: 270px;
    height: 120px;

    background: #F5F4FA;
    border-radius: 4px;
}


.skills {
    margin-right: 30px;
}
.skills:last-child {
    margin: 0;
}

.skill-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.skills-description {
    width: 270px;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;

    color: var(--sec-text-color);
}

/* Images section */
.images-container {
    padding-top: 0;
}

.images {
    display: flex;
    justify-content: center;
}

.coding2-image {
    margin-right: 30px;
    margin-left: 30px;
}

.product {   
    display: flex; 
    position: relative;
    
}

.image-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    width: 370px;
    height: 70px;
    bottom: 0;

    text-transform: uppercase;

    color: var(--light-text-color);
    background: rgba(47, 48, 58, 0.8);
}

.image-title {
    text-transform: uppercase;
    color: var(--light-text-color);
}


/*team container*/
.our-team-container {
    background-color: var(--sec-background-color)
}

.team-person {
    margin-right: 30px;

    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-person:last-child {
    margin-right: 0;
}

.descr-container {
     padding: 30px 32px;
     
 }
 
.names {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--text-color);
}

.profession {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;

    color: var(--sec-text-color);
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    color: #afb1b8;    
    fill: currentColor;

    border-radius: 50%;

    transition-property: background-color, color, filter;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    width: 20px;
    height: 20px;
}


.icon-link:hover,
.icon-link:focus {
    color: var(--light-text-color);
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    outline: transparent;
}


/* Permanent clients */
.logo-list {
    display: flex;
    justify-content: space-between;
}
    
.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    margin-right: 30px;
    
    color: #afb1b8;    
    fill: currentColor;

    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;

    transition-property: border-color, color, filter;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-link:last-child {
    margin: 0;
}

.logo-icon {
    width: 45px;
    height: 49px;
}

.logo-link:hover,
.logo-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    outline: transparent;
}



/* Portfolio */

.buttons,
.current-button {
    margin-right: 8px;
    padding: 6px 22px;
    background: var(--sec-background-color);
    border-radius: 4px;
    border-style: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    outline: transparent;
    color: var(--text-color);

    transition-property: background-color, color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-section {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.buttons:focus,
.buttons:hover,
.current-button {
    color: var(--light-text-color);
    background-color:  var(--accent-color);
    /* transition: color 0.25s, background-color 0.25s; */
    box-shadow: 0 0.5em 0.5em -0.4em var(--text-color);
    transform: translateY(-0.15em);
    cursor: pointer;
}


/* Projects-section */
.projects {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.projects-item:nth-child(3n) {
    margin-right: 0;
}

.projects-item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.project-content {
    text-decoration: none;
    outline: transparent;

    transition-property: box-shadow;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item {
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--main-background-color);
    border: 1px solid #EEEEEE;
    
}

.project-content:hover, 
.project-content:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: transparent;
}


/* Project-overlay */
.description {
    position: relative;

    overflow: hidden;
    outline: transparent;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: 250ms ease;
    
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tech-description {
    margin: 0;
    padding: 63px 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;

    color: var(--light-text-color);
}

.project-content:hover .project-overlay,
.project-content:focus .project-overlay {
    transform: translateY(0);
}


/* Project-names */
.project-name-container {
    padding: 20px 24px;
}

.project-title {
    margin: 0px 0px 4px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    color: var(--text-color);
}

.project-technology {
    margin: 0;
    font-size: 16px;
    line-height: 1.9;

    color: var(--sec-text-color);
}

/* Footer */
.footer-container {
    display: flex;
    align-items: baseline;
}

.page-footer {
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-background-color);
}


.location {
    margin-top: 20px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.location,
.studio-footer {
    color: var(--light-text-color);
}

.contacts-tel,
.contacts-email {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    color: var(--sec-text-color);
}

.footer-email {
    margin-bottom: 9px;
}

.footer-contacts {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

}

.second-column {
    display: inline-block;
    margin-right: 93px;
}
.first-column {
    display: inline-block;
    margin-right: 70px;
}
.subscribe {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-text-color);
}

.footer-social-item:not(:last-child) {    
    margin-right: 10px;
}

.footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    color: var(--light-text-color);
    fill: currentColor;
    background-color: rgba(255, 255, 255, 0.1);
    
    border-radius: 50%;

    transition-property: background-color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    width: 20px;
    height: 20px;
    
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--accent-color);
    outline: transparent;
}


.subscribe-btn {
    padding: 10px 29px;
    margin-left: 12px;
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    letter-spacing: 0.03em;

    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;

    color: var(--light-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.icon-send {
    margin-left: 10px;
}

.footer-input {
    width: 358px;
    height: 50px;    
    padding-left: 16px;
    outline: transparent;

    color: var(--light-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-input:focus {
   border-color: var(--accent-color);
}

.footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);
}


/* Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;

    width: 30px;
    height: 30px;
    padding: 6px;


    background-color: var(--main-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    box-sizing: border-box;
    outline: transparent;
}

.modal-close-button:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.modal-name {
    margin: 0 0 12px 0;
    text-align: center;
}

.modal-form-container {
    padding: 40px;
}

.form-field label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;

    color: var(--sec-text-color);
}

.form-field {
    margin-bottom: 10px;
}

.form-field input {
    height: 40px;
    padding-left: 42px;
    font-size: 14px;
    line-height: 1.14;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

textarea {
    resize: none;
    height: 120px;
    
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.14;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

textarea::placeholder {

    font-size: 14px;
    line-height: 1.16;

    color: rgba(117, 117, 117, 0.5);
}

.info-input {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.terms {
    display: inline-flex;

    font-size: 14px;
    line-height: 1.71;

    color: var(--accent-color);
}

.modal-submit {
    margin: 0 auto;
    padding: 10px 55px;
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;

    display: flex;
    align-items: center;
    text-align: center;
    border-style: none;
    outline: transparent;
    cursor: pointer;

    color: var(--light-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
}

.form-field input:focus,
.form-field textarea:focus {
    border-color: var(--accent-color);
    outline: transparent;
}

input:focus + .modal-icon {
    fill: var(--accent-color);
}

.modal-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}

.modal-policy-text {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;
    color: var(--sec-text-color);
    
}

.terms {
    padding-left: 4px;
}
.policy {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;

    border: 2px solid var(--text-color);
    border-radius: 4px;
}

.modal-checkbox:checked + .icon {
    background-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border: var(--accent-color);
}