:root {
    --main-background-color: #FFFFFF;
    --sec-background-color: #F5F4FA;
    --third-background-color: #C4C4C4;
    --dark-background-color: #2F303A;

    --accent-color: #2196F3;

    --text-color: #212121;
    --sec-text-color: #757575;
    --light-text-color: #FFFFFF;
}


body {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.015em;
    font-family: Roboto, sans-serif;
    background-color: var(--main-background-color);
}

section {
    padding: 94px 0;
}

.container, 
.our-team,
.main-portfolio,
.footer-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



/*header-container*/
header {
    border-bottom: 1px solid #ECECEC;
    background-color: var(--main-background-color);
}

.list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


/*navigation-container*/
.nav-bar {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-logo-title,
.logo-title {
    margin-right: 93px;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.current,
.nav-logo-title > span,
.logo-title {
    color: var(--accent-color);
}

a {
    display: block;
}

.current,
.nav-link {    
    padding: 32px 0;
    list-style: none;
    text-decoration: none;
}

.navigation-links,
.nav-link,
.navigation-contacts,
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--sec-text-color);
}

.nav-logo-title,
.navigation-links,
.nav-link {
    color: var(--text-color);
}

.site-nav {
    margin-right: 50px;
}
.site-nav:last-child {
    margin: 0px;
}
.nav-tel {
    margin-left: 50px;
}


.nav-link:focus,
.nav-link:hover,
.contacts:focus,
.contacts:hover,
.contacts-email:focus,
.contacts-email:hover,
.contacts-tel:focus,
.contacts-tel:hover {
    color: var(--accent-color);
    transition: color 0.25s;
    cursor: pointer;
}



/* hero container */

.overlay {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    
    display: block;

    background-image: url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg)
}

.hero {
    padding: 0;
    text-align: center;

    background-color: var(--third-background-color);
    
}

.hero-title {
    max-width: 696px;
    margin: 0 auto 30px auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;

    color: var(--light-text-color);
}

.button-primary {
    display: inline-block;
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700; 
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;

    text-align: center;

    color: var(--light-text-color);
    background: var(--accent-color);
}

.section-title {
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Skills section */
.skills {
    margin-right: 30px;
}
.skills:last-child {
    margin: 0;
}

.skill-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.skills-description {
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;

    color: var(--sec-text-color);
}

/* Images section */
.images-container {
    padding-top: 0;
}

.images {
    display: flex;
    justify-content: center;
}
.coding2-image {
    margin-right: 30px;
    margin-left: 30px;
}


/*team container*/
 .descr-container {
     padding-top: 30px;
     margin-bottom: 10px;
 }

.names {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--text-color);
}

.team-person {
    margin-right: 30px;

    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-person:last-child {
    margin-right: 0;
}
.profession {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;

    color: var(--sec-text-color);
}

.our-team-container {
    background-color: var(--sec-background-color)
}

.social-links {
    display: flex;
    justify-content: space-between;
    margin: 0 32px 30px;
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    fill: var(--light-text-color);
    border-radius: 50%;
}
.icon-link:hover,
.icon-link:focus {
    fill: var(--light-text-color);
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}





/* portfolio */

.buttons,
.current-button {
    margin-right: 8px;
    padding: 6px 22px;
    background: var(--sec-background-color);
    border-radius: 4px;
    border-style: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    outline: transparent;
    color: var(--text-color);
}

.buttons-section {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.buttons:focus,
.buttons:hover,
.current-button {
    color: var(--light-text-color);
    background-color:  var(--accent-color);
    transition: color 0.25s, background-color 0.25s;
    box-shadow: 0 0.5em 0.5em -0.4em var(--text-color);
    transform: translateY(-0.15em);
    cursor: pointer;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.projects-item:nth-child(3n) {
    margin-right: 0;
}

.projects-item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.project-content {
    text-decoration: none;
}

.projects-item {
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.description {
    padding: 20px 24px;
}

.project-title {
    margin: 0px 0px 4px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    color: var(--text-color);
}

.project-technology {
    margin: 0;
    font-size: 16px;
    line-height: 1.9;

    color: var(--sec-text-color);
}

/* footer */
.page-footer {
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-background-color);
}


.location {
    margin-top: 20px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.location,
.studio-footer {
    color: var(--light-text-color);
}

.contacts-tel,
.contacts-email {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    color: var(--sec-text-color);
}

.footer-email {
    margin-bottom: 9px;
}

.footer-contacts {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

}

.subscribe {
    color: var(--light-text-color);
    display: flex;
    justify-content: ;
}
