:root {
    --main-background-color: #FFFFFF;
    --sec-background-color: #F5F4FA;
    --dark-background-color: #2F303A;

    --accent-color: #2196F3;

    --text-color: #212121;
    --sec-text-color: #757575;
    --light-text-color: #FFFFFF;
}


body {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.015em;
    font-family: Roboto, sans-serif;
    background-color: var(--main-background-color);
}

.container, 
.our-team,
.footer-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



/*header-container*/
header {
    border-bottom: 1px solid #ECECEC;
    background-color: var(--main-background-color);
}

.list,
.current {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


/*navigation-container*/
.nav-bar {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-logo-title,
.logo-title {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 93px;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.current,
.nav-logo-title > span,
.logo-title {
    color: var(--accent-color);
}


.navigation-links,
.nav-link,
.navigation-contacts,
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--sec-text-color);
}

.nav-logo-title,
.navigation-links,
.nav-link {
    color: var(--text-color);
}

.site-nav {
    margin-right: 50px;
}


.nav-tel {
    margin-left: 50px;
}


.nav-link:focus,
.nav-link:hover,
.contacts:focus,
.contacts:hover,
.contacts-email:focus,
.contacts-email:hover,
.contacts-tel:focus,
.contacts-tel:hover {
    color: var(--accent-color);
    transition: color 0.25s;
    cursor: pointer;
}



/* hero container */
.hero {
    text-align: center;
    background-color: var(--dark-background-color);
    margin-bottom: 93px;
}
.hero-title {
    margin: 0;
    padding-bottom: 30px;
    padding-top: 200px;
    color: var(--light-text-color);
    

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-transform: uppercase;
}

.button-primary {
    display: inline-block;
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700; 
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;

    text-align: center;

    color: var(--light-text-color);
    background: var(--accent-color);
}


.section-title {
    padding-top: 94px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


.skills {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.skills-description {
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;

    color: var(--sec-text-color);
}

.images {
    display: flex;
    justify-content: center;
}
.coding2-image {
    margin-right: 30px;
    margin-left: 30px;
}


/*team container*/
.names {
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--text-color);
}

.team-person {
    
    margin-right: 30px;
    height: 368px;

    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-person:last-child {
    margin-right: 0;
}
.profession {
    margin-top: 0;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;

    color: var(--sec-text-color);
}



.our-team-container {
    margin-top: 94px;
    height: 648px;
    background-color: #F5F4FA;
}




/* portfolio */
.projects-item:nth-child(3n+2) {
    margin: 0px 30px;
}
.projects-item:nth-child(n+4) {
    margin-top: 30px;
}

.projects-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box; 
}


.buttons-section {
    justify-content: center;
}

.buttons,
.current-button {
    margin-right: 8px;
    padding: 6px 22px;
    margin-top: 94px;
    background: var(--sec-background-color);
    border-radius: 4px;
    border-style: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    outline: transparent;
    color: var(--text-color);
}


.buttons:focus,
.buttons:hover,
.current-button {
    color: var(--light-text-color);
    background-color:  var(--accent-color);
    transition: color 0.25s, background-color 0.25s;
    box-shadow: 0 0.5em 0.5em -0.4em var(--text-color);
    transform: translateY(-0.15em);
    cursor: pointer;
}

.projects {
    padding: 0;
    margin-top: 34px;
    margin-bottom: 94px;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    
}

.project-content {
    text-decoration: none;
}

.project-title {
    margin: 0;
    padding: 20px 24px 4px 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    color: var(--text-color);
}

.project-technology {
    margin: 0;
    padding: 0 24px 20px 24px;
    font-size: 16px;
    line-height: 1.9;

    color: var(--sec-text-color);
}

/* footer */
.page-footer {
    height: 252px;
    padding-top: 60px;
    background-color: var(--dark-background-color);
}


.location {
    margin-top: 20px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.location,
.studio-footer {
    color: var(--light-text-color);
}

.contacts-tel,
.contacts-email {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    color: var(--sec-text-color);
}

.footer-email {
    margin-bottom: 9px;
}
.footer-tel {
    padding-bottom: 60px;
}

.footer-contacts {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

}
