a {
    display: block;
}

section {
    padding: 94px 0;
}

.list,
.input-foot-container {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container, 
.our-team,
.main-portfolio,
.footer-container,
.clients-container,
.skills-img-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
