@mixin font-size-body {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.015em;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin listStyle {
    list-style: none;
    text-decoration: none;
}

@mixin fontNames {
    font-size: 16px;
    line-height: 1.9;
}