body {
    @include font-size-body;
    font-family: $main-font-family;
    background-color: $main-background-color;
}

a {
    display: block;
}

section {
    padding: 94px 0;
}

.list,
.input-foot-container {
    display: flex;
    padding: 0;
    margin: 0;
    @include listStyle;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container, 
.our-team,
.main-portfolio,
.footer-container,
.clients-container,
.skills-img-container {
    @extend %mainWidth;
}
