.logo-title-footer {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
}

.first-column {
    margin-right: 70px;
}

.third-column {
    margin-left: auto;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.page-footer {
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $dark-background-color;
}

.location {
    margin-top: 20px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.location,
.studio-footer {
    color: $light-text-color;
}

.contacts-tel,
.contacts-email {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    color: $sec-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email {
    margin-bottom: 9px;
}

.footer-contacts {
   @extend %listStyle;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

}