.page-header {
    position: relative;
    border-bottom: 1px solid $header-border-color;

    .nav-logo-title {
        text-decoration: none;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;

        padding: 16px 0 16px 0;

        color: $text-color;
        font-family: $secondary-font-family;

        @media (min-width: $tablet-width) {
            margin-right: 88px;
        }

        @media (min-width: $desktop-width) {
            margin-right: 94px;
        }
    }

    .menu-container {
        background-color: $main-background-color;

        &.is-open {
            display: block;
            overflow-y: scroll;
        }

        @media (max-width: $sec-tablet-width) {
            display: none;
            padding: 48px 40px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
        }

        @media (min-width: $tablet-width) {
            display: flex;
            align-items: center;
        }
    }

    .nav-container {
        display: flex;
        align-items: center;
    }
    
    .navigation-links {
        display: flex;
        flex-direction: column;
        margin-bottom: 302px;

        @media (min-width: $tablet-width) {
            display: flex;
            flex-direction: row;
            margin: 0;
        }
    }

    .navigation-contacts {
        display: none;

        @media (min-width: $tablet-width) {
            display: block;
        }

        @media (min-width: $desktop-width) {
            display: flex;
            align-items: center;
        }
    }


    .navigation-contacts-adapt {
        margin-bottom: 64px;

        @media (min-width: $tablet-width) {
            display: none;
        }
    }

    .nav-tel-adapt {
        margin-bottom: 32px;
    }

    .contacts-adapt {
        font-family: $main-font-family;
        font-style: normal;
        font-weight: 500;
        font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (480 - 300)));
        line-height: 28px;
        letter-spacing: 0.02em;

        color: $sec-text-color;
        text-decoration: none;

        transition-property: color font-size;
        transition: 250ms;
        transition-timing-function: $main-timing-function;

        &:hover,
        &:focus {
            color: $accent-color;
            font-size: calc(17px + (34 - 17) * ((100vw - 300px) / (480 - 300)));
        }
    }
    
    .current,
    .nav-logo-title > span {
        color: $accent-color;
    }
     
    .nav-email {
        margin-bottom: 10px;

        @media (min-width: $desktop-width) {
            margin: 0 30px 0 0;
        }
    }

    .icon-envelope {
        width: 16px;
        height: 12px;
        margin-right: 10px;
    }

    .icon-smartphone{
        width: 10px;
        height: 16px;
        margin-right: 10px;
    }

    .nav-link {
        color: $text-color;
    }

    .current,
    .nav-link {      
        list-style: none;
        text-decoration: none;
        
        @media (min-width: $tablet-width) {
            padding: 32px 0;
        }
        

        transition-property: color;
        transition: 250ms;
        transition-timing-function: $main-timing-function;
    }

    .navigation-links,
    .nav-link,
    .contacts {
        font-weight: 500;
        font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (480 - 300)));
        line-height: 47px;
        letter-spacing: 0.02em;

        @media (min-width: $tablet-width) {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            text-decoration: none;
        }
    }

    .contacts {
        display: flex;
        align-items: center;

        fill: currentColor;        
        color: $sec-text-color;

        transition-property: color;
        transition: 250ms;
        transition-timing-function: $main-timing-function;

    }

    .site-nav {
        padding-bottom: 32px;

        &:last-child {
            padding: 0px;
        }  

        @media (min-width: $tablet-width) {
            position: relative;
            padding: 0;

            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }

    .current::before {
        @media (min-width: $tablet-width) {
            content: '';
            position: absolute;
            display: inline-block;
            bottom: 0;
            left: 0;
        
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $accent-color;
        }
    }

    .nav-link::before {
        @media (min-width: $tablet-width) {
            content: '';
            position: absolute;
            display: inline-block;
            bottom: 0;
            left: 0;
        
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $accent-color;
            
            transition-property: fill, background-color;
            transition: 250ms;
            transition-timing-function: $main-timing-function;
            transform: scale(0);
        }
    }

    .nav-link:hover::before,
    .nav-link:focus::before {
        transform: scale(1);
    }


    .nav-link:focus,
    .nav-link:hover,
    .contacts:focus,
    .contacts:hover,
    .contacts-email:focus,
    .contacts-email:hover,
    .contacts-tel:focus,
    .contacts-tel:hover {
        color: $accent-color;
        cursor: pointer;
    }
    
}