header {
    border-bottom: 1px solid $header-border-color;
    background-color: $main-background-color;
}

//navigation-container
.nav-bar {
    display: flex;
    align-items: center;
}

.nav-logo-title,
.logo-title {
    margin-right: 93px;
    font-family: $secondary-font-family;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.current,
.nav-logo-title > span,
.logo-title-footer {
    color: $accent-color;
}


.icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.icon-smartphone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
}
.current,
.nav-link {      
    padding: 32px 0;
    list-style: none;
    text-decoration: none;

    transition-property: color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-links,
.nav-link,
.navigation-contacts,
.contacts {
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: $sec-text-color;
}

.contacts {
    display: flex;
    align-items: center;
    padding: 32px 0 32px 0;

    fill: currentColor;

    transition-property: color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-logo-title,
.navigation-links,
.nav-link {
    color: $text-color;
}

.site-nav {
    position: relative;
    margin-right: 50px;
}
.site-nav:last-child {
    margin: 0px;
}
.nav-tel {
    margin-left: 50px;
}

.current::before {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
   
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
}

.nav-link::before {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
   
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
      
    transition-property: fill, background-color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0);
}

.nav-link:hover::before,
.nav-link:focus::before {
    transform: scale(1);
}


.nav-link:focus,
.nav-link:hover,
.contacts:focus,
.contacts:hover,
.contacts-email:focus,
.contacts-email:hover,
.contacts-tel:focus,
.contacts-tel:hover {
    color: $accent-color;
    cursor: pointer;
}