.modal-name {
    margin: 0 0 12px 0;
    text-align: center;
}

.modal {
    max-width: 450px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    background-color: $main-background-color;

    transform: scale(1);
    transition: transform 250ms $main-timing-function;

    @media (min-width: $desktop-width) {
        max-width: 528px;
    }
}

.modal-close-button {
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;

    width: 30px;
    height: 30px;
    padding: 6px;


    background-color: $main-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    box-sizing: border-box;

    &:hover {
    color: $accent-color;
    cursor: pointer;
    }
}