/* Footer */
.footer-container {
    display: flex;
    align-items: baseline;
}

.page-footer {
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $dark-background-color;
}


.location {
    margin-top: 20px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.location,
.studio-footer {
    color: $light-text-color;
}

.contacts-tel,
.contacts-email {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    color: $sec-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email {
    margin-bottom: 9px;
}

.footer-contacts {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

}

.second-column {
    display: inline-block;
    margin-right: 93px;
}
.first-column {
    display: inline-block;
    margin-right: 70px;
}
.subscribe {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-text-color;
}

.footer-social-item:not(:last-child) {    
    margin-right: 10px;
}

.footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    color: $light-text-color;
    fill: currentColor;
    background-color: rgba(255, 255, 255, 0.1);
    
    border-radius: 50%;

    transition-property: fill, background-color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    width: 20px;
    height: 20px;
    
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: $accent-color;
}


.subscribe-btn {
    padding: 10px 29px;
    margin-left: 12px;
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    letter-spacing: 0.03em;

    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;

    color: $light-text-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.icon-send {
    margin-left: 10px;
}

.footer-input {
    width: 358px;
    height: 50px;    
    padding-left: 16px;
    outline: transparent;

    color: $light-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-input:focus {
   border-color: $accent-color;
}

.footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);
}