.subscribe {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-text-color;
}

.footer-social-links {
    display: flex;
    justify-content: center;
}

.footer-social-item:not(:last-child) {    
    margin-right: 10px;
}

.footer-icon-link {
    @extend %center;
    width: 44px;
    height: 44px;
    
    color: $light-text-color;
    fill: currentColor;
    background-color: rgba(255, 255, 255, 0.1);
    
    border-radius: 50%;

    transition-property: fill, background-color;
    transition: 250ms;
    transition-timing-function: $main-timing-function;

    &:hover,
    &:focus {
    background-color: $accent-color;
}
}

.footer-social-icon {
    width: 20px;
    height: 20px;
    
}