.menu-button {
    padding: 0;
    top: 10px;
    right: 15px;
    position: absolute; 

    background-color: transparent;
    border: none;
    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      position: fixed;
      z-index: 2;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &__icon {
      fill: currentColor;
    }

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.icon-menu {
  display: block;
}

.icon-cross {
  display: none;  
  position: fixed;
}

.menu-button.is-open {
  .icon-cross {
    display: block;
  }
} 

.menu-button.is-open .icon-menu {
  display: none;
}