/*team container*/
.our-team-container {
    background-color: $sec-background-color;
}

.team-person {
    margin-right: 30px;

    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
    margin-right: 0;
    }
}



.descr-container {
     padding: 30px 32px;
     
 }
 
.names {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: $text-color;
}

.profession {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;

    color: $sec-text-color;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    color: #afb1b8;    
    fill: currentColor;

    border-radius: 50%;

    transition-property: fill, background-color, color, filter;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $light-text-color;
    background-color: $accent-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.social-icon {
    width: 20px;
    height: 20px;
}


