$main-background-color: #FFFFFF;
$sec-background-color: #F5F4FA;
$third-background-color: #C4C4C4;
$dark-background-color: #2F303A;

$accent-color: #2196F3;

$text-color: #212121;
$sec-text-color: #757575;
$light-text-color: #FFFFFF;

$logo-color: #AFB1B8;
$header-border-color: #ECECEC;

$main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$main-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;