body {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.015em;
    font-family: $main-font-family;
    background-color: $main-background-color;
}

a {
    display: block;
}

section {
    padding: 94px 0;
}

.list,
.input-foot-container {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.flex-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}